name: Deployment

on:
  push:
    branches:
      - bhardwaj96-patch-1

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: 
      name: testing
    steps:
      - name: deploy
        # ...deployment-specific steps
