name: Deployment

on:
  push:
    branches:
      - bhardwaj96-patch-1

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: 
      name: testing
    steps:
      - uses: actions/checkout@v2
      - name: deploy
      - run : echo Hello, World!
        # ...deployment-specific steps
